<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <%= yield %>
        <section class="mt-medium pt-x-small" data-reflex-permanent>
          <small class="block font-light opacity-75">We had a lot of fun building this demo with <a href="https://docs.stimulusreflex.com">StimulusReflex</a>.</small>
          <iframe class="block mt-small" src="https://ghbtns.com/github-btn.html?user=hopsoft&repo=stimulus_reflex_todomvc&type=star&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
          <iframe class="block mt-xx-small" src="https://ghbtns.com/github-btn.html?user=hopsoft&repo=stimulus_reflex_todomvc&type=fork&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
          <iframe class="block mt-xx-small" src="https://ghbtns.com/github-btn.html?user=hopsoft&type=follow&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
        </section>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </body>
</html>
